title
	block head_title
		= config.title

!= css('https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css')
!= css('https://use.fontawesome.com/aca5d47a61')

link(type='text/css' rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css' media='screen,projection')

//- can't use CSS helper. it adds .css
link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
meta(name='viewport' content='width=device-width, initial-scale=1.0')

//- fav icon
-
	let fav = page.favicon ? page.favicon : theme.favicon;
	if(is_tag()) {
		if (theme.tags && theme.tags[page.tag]) {
			let info = theme.tags[page.tag];
			fav = info.favicon ? info.favicon : fav;
		}
	}
link(rel='icon' href=url_for(fav))

//- open graph data
-
	let image = page.photos ? page.photos[0] : theme.image;
		if (page.image) {
			image = page.image;
		}
	let description = page.description ? page.description : page.excerpt;

	let options = theme.open_graph ? theme.open_graph : {};
	options.image = options.image ? options.image : image;
	options.description = options.description ? options.description : description;
	options.title = options.title ? options.title : page.title;


!= open_graph(options)
if url_for(options.image).startsWith('https')
	meta(property='og:image:secure_url' content=url_for(options.image))
else if url_for(options.image).startsWith('http') === false && config.url.startsWith('https')
	meta(property='og:image:secure_url' content=config.url + '/'+ options.image)
